<header class="header-wrapper">
  <div class="header-card">
    <div class="header-left">
      <button class="menu-btn mobile-only" aria-label="Menu">
        <i class="bi bi-list"></i>
      </button>
    </div>
    <div class="header-left">
      <img src="assets/logo/app-logo.png" alt="Sree Vignesh Pyro Park" class="brand-logo" />
    </div>

    <!-- Center -->
    <div class="header-search desktop-only">
      <input type="text" placeholder="Search crackers, gift boxes, sky shots..." />
      <i class="bi bi-search search-icon"></i>
    </div>

    <div class="header-right">
      <span class="delivery-msg desktop-only">
        <i class="bi bi-lightning-fill text-warning"></i>
        Order now & get it fast
      </span>

      <button class="icon-btn cart-btn" aria-label="Cart">
        <i class="bi bi-cart4"></i>

        <span class="cart-badge">
          {{ cartCount }}
        </span>
      </button>

      <button class="icon-btn desktop-only" aria-label="Profile">
        <i class="bi bi-person"></i>
      </button>
    </div>
  </div>
</header>
