<div class="mobile-bottom-wrapper mobile-only">
  <div class="bottom-nav">
    <button class="nav-item" [class.active]="activeTab === 'home'" (click)="setActive('home')">
      <div class="icon-circle">
        <i class="bi bi-house"></i>
      </div>
    </button>
    <!-- SHOP -->
    <button class="nav-item" [class.active]="activeTab === 'shop'" (click)="setActive('shop')">
      <div class="icon-circle">
        <i class="bi bi-shop"></i>
      </div>
    </button>

    <!-- CART -->
    <button class="nav-item cart-item" [class.active]="activeTab === 'cart'" (click)="setActive('cart')">
      <div class="icon-circle cart-btn">
        <i class="bi bi-cart4"></i>
        <span class="cart-badge" *ngIf="cartCount > 0">
          {{ cartCount }}
        </span>
      </div>
    </button>

    <!-- ACCOUNT -->
    <button class="nav-item" [class.active]="activeTab === 'account'" (click)="setActive('account')">
      <div class="icon-circle">
        <i class="bi bi-person"></i>
      </div>
    </button>
  </div>
</div>
