<section class="category-section">
  <div class="category-container">

    <div class="category-grid">
      <div class="category-card" *ngFor="let item of categories">
        <div class="category-text">
          <h4>{{ item.title }}</h4>
          <p>{{ item.subtitle }}</p>
        </div>

        <img class="category-img" [src]="item.image" alt="{{ item.title }}" />
      </div>

      <div class="see-all-card">
        <div class="see-all-circle">
          <i class="bi bi-arrow-right"></i>
        </div>
        <span class="see-all-text">See all</span>
      </div>
    </div>

  </div>
</section>